In [1]:
import pandas as pd

# Create a Pandas Series
data = [1, 3, 5, 7, 9]
series = pd.Series(data)

# Accessing elements by index
print("Element at index 2:", series[2])
print("Elements at indices 1 and 3:")
print(series[[1, 3]])

Element at index 2: 5
Elements at indices 1 and 3:
1    3
3    7
dtype: int64

In [3]:
import pandas as pd

# Create a Pandas Series
data = [10, 20, 30, 40, 50]
series = pd.Series(data)

# Filter values greater than 30
filtered_series = series[series > 30]
print("Filtered Series:")
print(filtered_series)

Filtered Series:
3    40
4    50
dtype: int64

In [6]:
import pandas as pd

# Read data from CSV
file_path = 'sample_data.csv'
df = pd.read_csv(file_path)

# Display the original data
print("Original Data:")
print(df)
print("\n")

# Check for missing values
print("Missing Values:")
print(df.isnull().sum())
print("\n")

# Fill missing values with the mean of the column
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Display the cleaned data
print("Cleaned Data:")
print(df)
print("\n")

# Write cleaned data to a new CSV file
cleaned_file_path = 'cleaned_sample_data.csv'
df.to_csv(cleaned_file_path, index=False)

print(f"Cleaned data written to {cleaned_file_path}")

Original Data:
      Name   Age  Salary
0    Alice  25.0   50000
1      Bob  30.0   60000
2  Charlie   NaN   45000
3    David  35.0   70000
4    Emily  28.0   55000


Missing Values:
Name      0
Age       1
Salary    0
dtype: int64


Cleaned Data:
      Name   Age  Salary
0    Alice  25.0   50000
1      Bob  30.0   60000
2  Charlie  29.5   45000
3    David  35.0   70000
4    Emily  28.0   55000


Cleaned data written to cleaned_sample_data.csv

In [10]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 22, 35, 28],
    'Salary': [50000, 60000, 45000, 70000, 55000]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000
3    David   35   70000
4    Emily   28   55000

In [12]:
import pandas as pd

# Creating a DataFrame from a list of dictionaries
data = [
    {'Name': 'Alice', 'Age': 25, 'Salary': 50000},
    {'Name': 'Bob', 'Age': 30, 'Salary': 60000},
    {'Name': 'Charlie', 'Age': 22, 'Salary': 45000},
    {'Name': 'David', 'Age': 35, 'Salary': 70000},
    {'Name': 'Emily', 'Age': 28, 'Salary': 55000}
]

df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000
3    David   35   70000
4    Emily   28   55000

In [14]:
# Accessing a column
print("Column 'Name':")
print(df['Name'])
print("\n")

# Accessing a row
print("Row 1:")
print(df.loc[1])
print("\n")

# Adding a new column
df['Department'] = ['HR', 'IT', 'Marketing', 'Finance', 'IT']
print("DataFrame with 'Department' column:")
print(df)

Column 'Name':
0      Alice
1        Bob
2    Charlie
3      David
4      Emily
Name: Name, dtype: object


Row 1:
Name        Bob
Age          30
Salary    60000
Name: 1, dtype: object


DataFrame with 'Department' column:
      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000         IT
2  Charlie   22   45000  Marketing
3    David   35   70000    Finance
4    Emily   28   55000         IT